body {
  padding-top: 70px;
}

/* Trizzy Color */
/* TODO: using css preprocessors instead */
.trizzy-color {
  background-color: #9999CC !important;
  color: #fff !important;
}
.trizzy-color .dropdown-menu li > a:hover, .navbar.navbar-inverse .dropdown-menu li > a:focus {
  color: #9999CC !important;
}

.upload-image-preview img {
  padding-top: 5px;
}

.ascii-art {
  display: block;
  font-family: monospace;
  white-space: pre;
  font-weight: bold;
  margin: 1em 0;
}

@media(max-width:992px){
  .popup-actions-list {
    display: inline-block;
    position: static !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media(min-width:992px){
  .popup-actions-edit {
    text-align: right;
  }
}


.btn-fb {
    text-decoration: none;
}
.btn-fb:hover {
    text-decoration: none;
}
.btn-fb > img {
    width: 40px;
}

.popups-drag-container {
    min-height: 170px;
}
.popup-bubble {
    display: inline-block;
    margin: 10px;
    cursor: move;
}
.popup-bubble i {
    border-radius: 100%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.25);
    line-height: 100px;
    text-align: center;
    color: white;
}
.popup-bubble img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
