body {
  padding-top: 70px;
}

.upload-image-preview img {
  padding-top: 5px;
}

.ascii-art {
  display: block;
  font-family: monospace;
  white-space: pre;
  font-weight: bold;
  margin: 1em 0;
}

@media(max-width:992px){
  .popup-actions {
    display: inline-block;
    position: static !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
